#homescreen {
    max-width: 95%;
    margin: auto;
}

.homescreen_img {
    width: 100%;
    max-width: 1126px;
    margin: 50px auto;
    object-fit: contain;
}

.homescreen_img  > img{
    width: 100%;
    height: 100%;
    max-height: 509px;
    object-fit: contain;
}

.homescreen_img > h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    text-align: center;    
}

.homescreen_img > p {
    font-size: 22px;
    text-align: center;
}

.homescreen_categories {
    max-width: 93%;
    margin: auto;
}

.homescreen_categories > h3, 
.homescreen_faq > h3, 
.homescreen_read > h3,
.homescreen_miss > h3 {
    letter-spacing: 0.09em;
    font-size: 26px;
    font-weight: 600;  
    margin-top: 70px;
    text-transform: uppercase;
}

.catCard_cont {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homescreen_vid {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

.homescreen_faq > h3, 
.homescreen_read > h3, 
.homescreen_miss > h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-size: 30px;
}

